
table {
  width: 100%;
}

th, td {
  text-align: center;
  padding: 10px;
}


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  padding: 5px
}
